.loadingbar{
    margin: 20px auto 0px;
    text-align: right;
}
.barText{
    text-align: center;
}
.radioButtons{
    margin: 30px auto 0px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 35px 35px 35px;
}
.anonymButton{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.donationButton{
    text-align: center;
    margin: 20px auto;
}
.footer{
    margin: 50px auto;
}